html,
body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    min-height:100%;
    width: 100%;
    font-family: "Paytone One" sans-serif;
    color: #fff;
    background: linear-gradient(-225deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 100%;
    -webkit-animation: gradientBG 5s ease infinite;
    animation: gradientBG 5s ease infinite;
    position: relative;
    padding: 0 0 80px;
}
/*div {
    -webkit-filter: alpha 100;
    filter: alpha 100;
    opacity: 1;
    z-index: 1;
}*/
.hero {
    text-align: center;
    font-family: "Paytone One";
    letter-spacing: 2px;
}

.main-logo {
    margin: 10px auto;
    width: 50%;
}

.land-subtitle {
    margin: 0;
}

.land-title {
    margin: 5px 0;
    font-size: 2.5em;
}

.social-links {
    margin: 16px 0;
}

.social-links-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 16px 16px 0 16px;
    min-width: 80%;
    height: 65px;
    border-radius: 16px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #1778f2;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.social-links-box p {
    padding-right: 10px;
}

.social-links-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    padding-left: 10px;
}

.social-links a {
    text-decoration: none;
    text-align: center;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whatsapp {
    color: #00E676;
}
.footer {
    text-align: center;
    margin: auto 0;
    font-family: "Paytone One";
    font-size: 12px;
    background-color: #fff;
    color: #000;
    position: absolute;
    left: 0 ; right: 0; bottom: 60px;
    height: 60px
}

.followbutton {
    margin: 0 15px;
    height: 75px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    font-size: 24px;
}
.followbutton a {
    font-family: "Paytone One";
    color: #000000;
    padding: 50% auto;
    text-decoration: none;
}
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
