html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "Paytone One" sans-serif;
    color: #fff;
    background: linear-gradient(-225deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 100%;
    -webkit-animation: gradientBG 5s ease infinite;
    animation: gradientBG 5s ease infinite;
}
div {
    -webkit-filter: alpha 100;
    filter: alpha 100;
    opacity: 1;
    z-index: 1;
}
.hero {
    text-align: center;
    font-family: "Paytone One";
    letter-spacing: 2px;
}
.land-subtitle {
    margin: 0;
}

.land-title {
    margin: 5px 0;
    font-size: 2.5em;
}

.social-links {
    margin: 16px 0;
}

.social-links-box {
    background-color: #fff;
    margin: 16px 16px 0 16px;
    min-width: 80%;
    height: 75px;
    border-radius: 16px;
}

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
